body {
    background: #fcfcfc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

a:hover {
  text-decoration: none;
}

.content {
  padding: 20px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
